@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Yuji+Syuku&display=swap');

.mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}